body, html {
  height: 100% 0 auto;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: '#FFF';
}

body{
  background-color: #BBB;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
  text-align: center;
  text-decoration: none;
}


.tablink a {
  color: white;
}
.tablink:hover {
  text-decoration: none;
  color: white;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  width: 90%;
  margin: 150px auto 20px auto;
  height: 100% 0 auto;
}
.tabcontent h1{
  font-weight: bold;
}

div#Entrada{
  margin-top:25%;
}


/* configuração dos botões que fica na barra superior, deve ter alguns codigos que nem serve pelo projeto anterior */
.barra {
  background-color: #20b2aa ;
  overflow: hidden;
}


.barra a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}


.barra a:hover {
  background-color: #ddd;
  color: black;
}

.barra-right {
  float: right;
  margin-right: 16%;
}
.barra-meio {
  margin-left: 45%;
}
.barra .barra-left{
   margin-left: 16%;
}

.barra .ba label {
  top:6px;
  float: left;
  color: #f2f2f2;
  position:relative;
  padding: 4px 14px;
  text-decoration: none;
  font-size: 20px;
  font-family: fantasy;
}

/* Change the color of links on hover */
.right {
  float: right;
  margin-right: 13%;
}



/* css do login real */

.barra .ba{
   margin-left: 13%;
    
}

/*configurAR umas tabela meu irmão */
#myInput {
  background-position: 10px 12px; 
  background-repeat: no-repeat; 
  width: 85%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.oi {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.oi:hover {
  color: black;
}


div#VandF{
  width: 600px;
  height: 250px;
  margin: 0 auto;
  background-color: rgba(0,0,0,.5);
  border-radius: 3px;
}
a.btn-paginacao{
  margin-left: 5px;
}

a.btn-paginacao button{
  border: 0;
  background-color: #555;
  color: #FFF;
  padding: 5px 10px;
  font-weight: bold;
}

/*MENU DESPESAS ESTILOS*/
span.tab-menu{
  color: #000;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
}