
div.saldo{
    color: #000;
    
    margin: 7em auto 0 auto;
    padding: 10px 0;
    border-radius: 2px;
    box-shadow: 0 0 5px #333;
}

div.saldo div.filtro form{
    background-color: #555;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px #333;
}

div.saldo h4{
    border-radius: 5px;
    color: #111;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: bold;
}

div.saldo h5{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

h5.positivo{
    color: rgb(2, 128, 247);
}

h5.atual{
    color: rgb(16, 170, 42);
}

h5.negativo{
    color: rgb(143, 23, 7);
}

div.quadro-left{
    font-family: monospace;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px #333;
}

div.quadro{
    font-family: monospace;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #999;
    box-shadow: 0 0 5px #333;
}

div.quadro h4{
    letter-spacing: 1px;
    color: #FFF;
}
div.quadro h5{
    font-weight: bold;
    color: #000;
}

div.quadro h5 span{
    float: right;
}

div.paragrafo p{
    font-family: monospace;
    font-weight: bold;
    text-align: justify;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 30px;
}

div.quadro h5 hr{
    background-color: #777;
    margin-top: 15px;
    border-width: .1em;
}

div.quadro h5 span.gasto{
    color: rgb(202, 42, 21);
}

div.quadro h5 span.ganho{
    color: rgb(2, 128, 247);
}

div.detalhes{
    padding: 20px 0 0 0;
    background-color: #999;
    border-radius: 2px;
    box-shadow: 0 0 5px #333; 
}

div.detalhes h4{
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}

div.detalhes ul li a{
    color: rgb(17, 17, 17);
    font-weight: bold;
}

div.detalhes ul li a.active{
    color: #FFF !important;
    background-color: #222 !important;
    border: 0;
}